@model CourseProject.Mvc2.Models.Film
@{
    ViewBag.Title = Model.NameFilms;
}
    <h2>Пользователь @Model.NameFilms</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Идентификатор</dt>
            <dd>@Model.Id</dd>

            <dt>Возраст</dt>
            <dd>@Model.AgeLimit</dd>
        </dl>
    </div>