@model IEnumerable<Course_Project.Data.Models.FilmAdd>
@{
    ViewBag.Title = "Все фильмы";
}

<main class="main__films" role="main">

    <a asp-action="Create">Добавить пользователя</a>
    <table class="table">
        <tr><td>Имя</td><td>Возраст</td></tr>
        @foreach (var item in Model)
        {
            <tr><td>@item.FilmName</td><td>@item.AgeLimit</td></tr>
        }
    </table>
</main>