@model CourseProject.Mvc.Models.Films
@{
    ViewBag.Title = "Добавление пользователя";
}

<main class="main__films" role="main">
    <form asp-action="create" asp-controller="home">
        <div class="form-group">
            <label asp-for="FilmName" class="control-label">Имя</label>
            <input type="text" asp-for="FilmName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FilmName" class="control-label">Возраст</label>
            <input type="number" asp-for="AgeLimit" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
    </form>
</main>