<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <title>@ViewData["Title"] - CourseProject.Mvc</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="header__menu">
                <a asp-controller="Home" asp-action="Index" class="">
                    <div class="header__logo">LogoFilm</div>
                </a>
                    <div class="nav__menu">
                        <a class="nav__link" href="">Новинки</a>
                        <a class="nav__link" href="">Премьеры</a>
                        <a class="nav__link" href="">Случайный</a>
                        <a class="nav__link" href="">Рекомендации</a>
                    </div>
</div>
        </div>
    </header>

    <!-- User menu -->
    <div class="container">
        <div class="user__menu">
            <div class="choice__theme">
                <img src="~/img/sunset.png" width="32px" alt="">
                <img src="~/img/crescent-moon.png" width="32px" alt="">
            </div>

            <div class="login__password">
                @*<input class="login__user" type="text" placeholder="Логин">
                <input class="password__user" type="text" placeholder="Пароль">*@
                <a asp-controller="Account" asp-action="Login" class="registration__user button__use">Вход</a>
                <a asp-controller="Account" asp-action="Register" class="registration__user button__use">Регистрация</a>
</div>

            <div class="search__films">
                <a href="" class="extended__search">Расширенный поиск</a>
                <div class="search__button">
                    <input type="text" class="search" placeholder="В чем дело Док?">
                    <button class="button__search">
                        <img src="~/img/search.png" width="16px" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- New films -->
    <div class="container">
        <div class="new__films">
            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>

            <a href="" class="film__link">
                <div class="block__films">
                    <img src="~/img/orig 1.png" class="poster__film" alt="">
                    <div class="name__film">Охотники за привидениями: Наследники</div>
                </div>
            </a>
        </div>
    </div>

    <!-- Main block -->
    <div class="container">
        <div class="main__block">
                @RenderBody()

            <div class="main__menu">
                <div class="block__menu">
                    <div class="menu__name">
                        <div class="menu__text">Жанры</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer__main">
                <div class="footer__info">
                    <div class="info__sub">
                        LogoFilm - твой гид в мире кино.
                    </div>
                </div>

                <div class="footer__social">
                    <a href=""><img src="~/img/telegram2.png" width="32px" alt="" class="social__site"></a>
                    <a href=""><img src="~/img/instagram2.png" width="32px" alt="" class="social__site"></a>
                    <a href=""><img src="~/img/vkontakte2.png" width="32px" alt="" class="social__site"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
