@model CourseProject.Mvc.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Вход на сайт";
}

<div class="main__login">

    <form class="login__form" method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <h2 class="mine__form">Вход на сайт</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label class="mine__form" asp-for="Login"></label><br />
            <input class="mine__input" placeholder="Логин" asp-for="Login" />
        </div>
        <div>
            <label class="mine__form" asp-for="Password"></label><br />
            <input class="mine__input" placeholder="Пароль" asp-for="Password" />
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input class="mine__button" type="submit" value="Войти" />
        </div>
    </form>
</div>